:root {
    --orange: #ee7203;
    --orange-subtile: #f39c4e;
    --highlight-blue: #0081a0;
    --blue: #009dc5;
    --grey: #F0F0F0;
    --opaqueGrey: #f0f0f07e;
    --border-radius: 30px;
    --green: #97BE0D;
    --darkblue: #004476;
    --nightblue: #001a2c;
}

@font-face {
    font-family: 'realist';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url(../fonts/Realist-Light_200804_151613.woff2) format('woff2'),url(../fonts/Realist-Light_200804_151608.woff) format('woff')
}

body {
 font-family: 'realist', sans-serif;
 background-color: var(--nightblue);
 color: var(--grey);
}

h1 {
 color:white;
}

h2 {
    font-size: 30px;
}

button {
    color: var(--grey);
    background-color: var(--nightblue);
    border: 1px solid var(--grey);
    border-radius: 15px;
}

button.ausgewaehlt {
    background-color: var(--grey);
    color: black;
}

.balken {
    width: 300px;
    height: 20px;
    border: 1px solid var(--grey);
    margin-bottom: 20px;
}

.balken-fuellung {
    height: 100%;
    background-color: var(--grey);
}
#logo img {
    height: 100px;
    margin: 10px;
}

#quiz {
    border: 2px solid var(--grey);
    border-radius: 10px;
    margin: 100px;
    margin-top: 20px;
    
}

#frage {
    padding: 15px;
    text-align: center;
}

.quiz-inhalt {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    /* border: 1px solid red; */
    padding-right:15px;
    padding-bottom:15px;
}

.bild {
    border: 1px solid white;
    min-height: 300px;
    padding-left: 15px;
    padding-bottom: 15px;
}

#antworten {
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* border: 1px solid blue; */
}

#antworten button {
    width: 100%;
    padding: 15px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.navigation button {
    padding: 10px;
    border-radius: 0px;
    border: none;
    color: --grey;
    background-color: var(--opaqueGrey);
    /* opacity: 0.5; */
}