body {
 font-family: 'Courier New', Courier, monospace;
 background-color: black;
 color: white;
}

h1 {
 color:white;
}

button {
    display: block;
    color: white;
    background-color: black;
}

button.ausgewaehlt {
    background-color: white;
    color: black;
}

