:root {
    --orange: rgb(238, 114, 3);
    --orange-subtile: #f39c4e;
    --orange-opaque:#ee710380;
    --highlight-blue: #0081a0;
    --blue: rgb(0, 157, 197);
    --light-blue: rgb(31, 189, 228);
    --opaque-blue: rgba(51, 214, 255, 0.349);
    --grey: #F0F0F0;
    --opaqueGrey: #f0f0f07e;
    --mediumGrey: #4b4b4bce;
    --darkGrey: #1d1d1ded;
    --green: #97BE0D;
    --darkblue: #013a63;
    --nightblue: rgb(0, 26, 44);
}

@font-face {
    font-family: 'Manrope';
    font-weight: 300;
    src: url(../fonts/Manrope-Light.ttf) format('truetyoe');
}

@font-face {
    font-family: 'Manrope';
    font-weight: 400;
    src: url(../fonts/Manrope-Regular.ttf) format('truetyoe');
}

@font-face {
    font-family: 'Manrope';
    font-weight: 700;
    src: url(../fonts/Manrope-Bold.ttf) format('truetyoe');
}

@font-face {
    font-family: 'JetBrains Mono';
    font-weight: 400;
    src: url(../fonts/JetBrainsMono-Regular.ttf) format('truetyoe');
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    background-color: rgba(0, 13, 22, 0.9);
    z-index: -1;
}

body {
    min-height: 100vh;
    background-image: url("../bilder/background.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Manrope', sans-serif;
    background-color: var(--nightblue);
    color: var(--grey);
}

h1 {
 color:white;
}

#frage {
    font-size: 30px;
    white-space: pre-line;
    line-height: 1.7;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 200;
    padding: 0px 20px 0px 20px;
}

button {
    color: var(--grey);
    background-color: var(--nightblue);
    border:none;
    border-radius: 15px;
}

button:hover {
    background-color: var(--orange-opaque);
    border:none;
    color: var(--grey);
}

button.ausgewaehlt {
    background-color: var(--orange);
    color: var(--grey);
}

.balken {
    width: 300px;
    height: 20px;
    border: 1px solid var(--orange);
    margin-bottom: 20px;
}

.balken-fuellung {
    height: 100%;
    background-color: var(--orange);
}
#logo img {
    height: 100px;
    margin: 10px;
}

#quiz {
    /*border: 5px solid var(--orange-opaque);*/
    background-color: var(--darkblue);
    border-radius: 20px;
    margin: 100px;
    margin-top: 20px;
    padding: 15px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

#ergebnis-inhalt {
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: center;
    width: 100%;
}

#ergebnis-titel{
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    color: var(--grey);
    margin-top: 0;
}

#ergebnis {
    justify-content: center;
    
}

#fachrichtung-titel {
    font-size: 40px;
    font-weight: 400;
    color: var(--green);
}

#balken-darstellung {
    justify-items: center;
}

.ergebnis-darstellung {
    background-color: var(--darkblue);
    border-radius: 20px;
    margin: 100px;
    margin-top: 20px;
    padding: 15px;
    margin-left: 20%;
    margin-right: 20%;
}

.ergebnis-darstellung p {
    text-align: center;
    font-size: 25px;
}

.quiz-inhalt {
    gap: 30px;
    /* border: 1px solid red; */
    padding:25px;    
}

#antworten {
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* border: 1px solid blue; */
}

#antworten button {
    width: 100%;
    padding: 15px;
    font-size: 17px;
}

.tipp-container {
    display: flex;
    flex-direction: column;
}

.tipp-button.aufgeklappt {
    border-radius: 15px 15px 0 0;
    border-bottom: 1px solid var(--darkblue);
}

.tipp-text {
    background-color: var(--nightblue);
    border-radius: 0 0 15px 15px;
    padding: 15px;
    text-align: center;
    font-weight: 100;
    line-height: 2;
    white-space: pre-line;
}

.navigation {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.navigation button {
    padding: 20px;
    border-radius: 30px;
    border: none;
    color: var(--nightblue);
    background-color: var(--opaque-blue);
    font-size: 15px;
    /* opacity: 0.5; */
}

.navigation button:hover {
    background-color: var(--orange);
    color: var(--grey);
}

#weiter {
    margin-left: auto;
}

.weiterleiten {
    margin-left: auto;
    margin-right: auto;
}

.richtig {
    background-color: green;
}

.richtig.ausgewaehlt {
    background-color: green;
}

.falsch {
    background-color: red;
}

.falsch.ausgewaehlt {
    background-color: red;
}

.code {
    font-family: 'JetBrains Mono', monospace;
    background-color: var(--darkGrey);
    border-radius: 15px;
    padding: 2px 10px 2px 10px;
    border: 1px solid var(--mediumGrey)
}

.orange {
    color: var(--orange);
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
}